.addressText {
  font-size: 0.8rem;
  color: #ffffff;
}

.addressTextColor {
  font-size: 0.9rem;
  color: rgb(77, 233, 87);
}

.contentArea{
  background-color: #FFF;
  padding-top:1rem;
  padding-bottom: 1rem;
}

.ownerText{
  font-size: 1rem;
  text-align: center; 
}
.ownerTextStrong{
  font-size: 1.2rem;
  font-weight: 600;
}

.card {
  /* background-color: aqua; */
  margin-left:1rem;
  margin-right:1rem;
  margin-top:0.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  height: 35rem;
  perspective: 300rem;
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.infoContainer {
  transform: rotate(90deg);
  transform-origin: center center;
  font-family: "sans-serif";
  font-size: 1rem;
  color: #333; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.infoItem {
  position: absolute;
}

.cardImage{
  border-radius: 0.3rem;
  width: 11rem;
  height: 13rem;
  margin-top:12rem;
  margin-left: -5.2rem;
  object-fit: cover;
}

.date{
  top: 11.5rem;
  right: -6rem;
}
.name {
  top: 13.5rem;
  left: 16rem;
}
.engName{
  top: 13.5rem;
  right: -4rem;
}
.school {
  top: 15rem; 
  left: 13.5rem; 
}
.studentNum {
  top: 15rem; 
  right: -4rem;
}
.major {
  top: 16.5rem; 
  right: -4rem;
}
.email {
  cursor:pointer;
  top: 17.8rem; 
  right: -4rem;
}
.email:hover{
  background-color: aquamarine;
}
.session {
  top: 19.2rem; 
  right: -4rem;
}
.MBTI {
  top: 20.5rem; 
  right: -4rem;
}
.IG {
  cursor:pointer;
  top: 21.7rem; 
  right: -4rem; 
}
.IG:hover{
  background-color: aquamarine;
}
.moto {
  top: 23.5rem; 
  right: -4rem;
}

.QR{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: center center;
  margin: 30rem 2rem;
}

.popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  z-index: 1000;
  font-size: 1.2rem;
}

.popUpContent {
  width: 100%; 
  max-width: 600px; 
  margin-top: -50px; /*조금 위로 옮김*/
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 375px) { /* iPhone SE width */
  .card{
      /* background-color: aqua; */
      margin-top: 0.5rem;
      margin-bottom:1.5rem;
      margin-left:2rem;
  }
}

@media (max-width: 360px) {  /* 갤럭시 s8+,노트 width */
  .card{
      /* background-color: aqua; */
      margin-top: 0.1rem;
      margin-bottom:1rem;
      margin-left:2.5rem;
  }
}

@media (max-width: 320px) { /* z-flip width */
  .card{
      /* background-color: aqua; */
      margin-top: 0.1rem;
      margin-bottom:1.5rem;
      margin-left:3.5rem;
  }
}