.container{
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 11px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  background: silver;
  padding: 3px;
}

.addressText {
  -webkit-font-smoothing: none;
  font-size: 0.8rem;
  color: #ffffff;
}

.addressTextColor {
  font-size: 0.9rem;
  color: rgb(77, 233, 87);
}

.contentArea{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ownerText{
  -webkit-font-smoothing: none;
  font-size: 1rem;
  text-align: center; 
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ownerTextStrong{
  font-size: 1.2rem;
  font-weight: 600;
}

.card {
  /* background-color: aqua; */
  width: 19rem;
  height: 30rem;
  perspective: 300rem;
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.infoContainer {
  transform: rotate(90deg);
  transform-origin: center center;
  font-size: 0.8rem;
  color: #333; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.frame {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: center center;
  top: 10.5rem;
  left: -4.1rem;
  width: 58%; 
  height: auto; 
  z-index: 1; 
}

.cardImageContainerR {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.8rem; 
  height: 10.3rem;
  overflow: hidden; 
  margin-top: 10.6rem;
  margin-left: -3.2rem; 
  border: 2px solid grey;
}

.cardImageRectGrey {
  height: 100%;
  width: auto;
}

.cardImageContainerC {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem; 
  height: 11rem;
  overflow: hidden; 
  margin-top: 10rem;
  margin-left: -3.3rem; 
  border-radius: 50%;
  border: 2px solid grey;
}

.cardImageCircleGrey{
  height: 100%;
  width: auto;
}


.date{
  top: 9.65rem;
  right: -3.5rem;
}
.name {
  color: #888; 
  top: 11.4rem;
  left:9rem;
}
.nameValue {
  top: 11.4rem;
  left: 13rem;
}
.engNameValue{
  top: 11.35rem;
  right: -2.5rem;
}
.school {
  color: #888; 
  top: 12.75rem; 
  left: 9rem;
}
.schoolValue {
  top: 12.75rem; 
  left: 13rem;
}
.schoolValueWithoutNum {
  top: 12.75rem; 
  right: -2.5rem;
}
.studentNumValue {
  top: 12.75rem; 
  right: -2.5rem;
}
.major {
  color: #888; 
  top: 14.1rem; 
  left:9rem;
}
.majorValue {
  top: 14.1rem; 
  right: -2.5rem;
}
.session {
  color: #888; 
  top: 15.5rem; 
  left:9rem;
}
.sessionValue {
  top: 15.5rem; 
  right: -2.5rem;
}
.highlight {
  background-color: #fef9f0; 
}
.MBTI{
  color: #888; 
  top: 16.7rem; 
  left:9rem;
}

.MBTIValue {
  transform: rotate(-90deg);
  transform-origin: center center;
  width: 4rem;
  height: 5rem;
  top: 14.57rem; 
  right: -3.3rem; 
  pointer-events: none;
}

.email {
  color: #888; 
  top: 18.1rem; 
  left:9rem;
}
.emailValue {
  top: 18.1rem; 
  right: -2.5rem;
}
.emailValue:hover{
  background-color: white;
}
.IG {
  color: #888; 
  top: 19.4rem; 
  left:9rem; 
}
.IGValue {
  top: 19.4rem; 
  right: -2.5rem; 
}
.IGValue:hover{
  background-color: white;
}

.pattern{
  position: absolute;
  top: -2rem;
  left: 0.6rem;
  width: 93%;
  height: auto;
}

.moto {
  position: absolute;
  top: 11.5rem;
  left: 0.1rem;
  transform: rotate(90deg);
  transform-origin: center center;
  /* background-color: aquamarine; */
  width: 24rem;
  height: 7rem;
  font-size: 1rem;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: normal; /* 텍스트가 요소 폭을 넘어가면 줄바꿈되게 함 */
  overflow: hidden;
}

.QR{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: center center;
  margin: 25.5rem 3.5rem;
  z-index: 100;
}

.popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  z-index: 1000;
  font-size: 1.2rem;
}

.popUpContent {
  font-family: "Pixelated MS Sans Serif", Arial;
  width: 100%; 
  max-width: 600px; 
  margin-top: -50px; /*조금 위로 옮김*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:0.4rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 375px) { /* iPhone mini width */
  .card{
      /* background-color: aqua; */
      margin-left:2rem; 
  }
}

@media (max-width: 360px) {  /* 갤럭시 s8+,노트 width */
  .card{
      /* background-color: aqua; */
      margin-left:2.5rem;
  }
}

@media (max-width: 320px) { /* z-flip, iphone se width */
  .container{
    width: 300px;
  }
  .card{
      /* background-color: aqua; */
      margin-left:3.5rem;
  }
  .btnContainer{
    gap:0.5rem;
  }
  .QR{
    margin: 25rem 3rem;
  }
}