.container{
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 11px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  background: silver;
  padding: 3px;
}

.addressText {
  -webkit-font-smoothing: none;
  font-size: 0.8rem;
  color: #ffffff;
}

.addressTextColor {
  font-size: 0.9rem;
  color: rgb(77, 233, 87);
}

.contentArea{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ownerText{
  -webkit-font-smoothing: none;
  font-size: 1rem;
  text-align: center; 
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ownerTextStrong{
  font-size: 1.2rem;
  font-weight: 600;
}

.card {
  /* background-color: aqua; */
  margin: 0 1rem;
  width: 20rem;
  height: 30rem;
  perspective: 300rem;
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.infoContainer {
  transform: rotate(90deg);
  transform-origin: center center;
  font-size: 0.8rem;
  color: #333; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* .cardImage{
  border-radius: 0.5em;
  width: 11rem;
  height: 13rem;
  margin-top:11.5rem;
  margin-left: -4.4rem;
  object-fit: cover;
} */

.cardImageCircleWhite{
  border: solid white 2px;
  border-radius: 50%;
  width: 11.3rem;
  height: 13rem;
  margin-top:11.3rem;
  margin-left: -3.6rem;
  object-fit: cover;
}
.cardImageCircleGrey{
  border: solid grey 2px;
  border-radius: 50%;
  width: 11.3rem;
  height: 13rem;
  margin-top:11.3rem;
  margin-left: -3.6rem;
  object-fit: cover;
}

.cardImageRectWhite{
  border: solid white 2px;
  border-radius: 0.2rem;
  width: 10.5rem;
  height: 13rem;
  margin-top:11.4rem;
  margin-left: -3.5rem;
  object-fit: cover;
}
.cardImageRectGrey{
  border: solid grey 2px;
  border-radius: 0.2rem;
  width: 10.5rem;
  height: 13rem;
  margin-top:11.4rem;
  margin-left: -3.5rem;
  object-fit: cover;
}

.date{
  top: 11.5rem;
  right: -4.5rem;
}
.name {
  color: #888; 
  top: 13.7rem;
  left: 10rem;
}
.nameValue {
  top: 13.7rem;
  right: 5rem;
}
.engNameValue{
  top: 13.7rem;
  right: -3.5rem;
}
.school {
  color: #888; 
  top: 15rem; 
  left: 10rem;
}
.schoolValue {
  top: 15rem; 
  left: 13.5rem; 
}
.studentNumValue {
  top: 15rem; 
  right: -3.5rem;
}
.major {
  color: #888; 
  top: 16.5rem; 
  left:10rem;
}
.majorValue {
  top: 16.5rem; 
  right: -3.5rem;
}
.email {
  color: #888; 
  top: 17.8rem; 
  left:10rem;
}
.emailValue {
  top: 17.8rem; 
  right: -3.5rem;
}
.emailValue:hover{
  background-color: white;
}
.session {
  color: #888; 
  top: 19.4rem; 
  left:10rem;
}
.sessionValue {
  top: 19.4rem; 
  right: -3.5rem;
}
.MBTI{
  color: #888; 
  top: 20.8rem; 
  left:10rem;
}
.MBTIValue {
  top: 20.8rem; 
  right: -3.5rem;
}
.IG {
  color: #888; 
  top: 22.3rem; 
  left:10rem; 
}
.IGValue {
  top: 22.3rem; 
  right: -3.5rem; 
}
.IGValue:hover{
  background-color: white;
}

.moto {
  position: absolute;
  top: 13.5rem; 
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: center center;
  /* background-color: aquamarine; */
  width:27.5rem;
  height:8rem;
  font-size: 1.2rem;
  white-space: normal; /* 텍스트가 요소 폭을 넘어가면 줄바꿈되게 함 */
  overflow: hidden; /* 내용이 요소의 크기를 초과하면 숨김 처리 */
}
.QR{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: center center;
  margin: 28rem 2.5rem;
  z-index: 100;
}

.popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  z-index: 1000;
  font-size: 1.2rem;
}

.popUpContent {
  font-family: "Pixelated MS Sans Serif", Arial;
  width: 100%; 
  max-width: 600px; 
  margin-top: -50px; /*조금 위로 옮김*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:0.4rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 375px) { /* iPhone mini width */
  .card{
      /* background-color: aqua; */
      margin-top: 0.5rem;
      margin-bottom:1.5rem;
      margin-left:2rem;
  }
}

@media (max-width: 360px) {  /* 갤럭시 s8+,노트 width */
  .card{
      /* background-color: aqua; */
      margin-top: 0.1rem;
      margin-bottom:1rem;
      margin-left:2.5rem;
  }
}

@media (max-width: 320px) { /* z-flip, iphone se width */
  .container{
    width: 300px;
  }
  .card{
      /* background-color: aqua; */
      margin-top: 0.05rem;
      margin-bottom:1rem;
      margin-left:3.5rem;
  }
  .btnContainer{
    gap:0.02rem;
  }
}