@font-face {
  font-family: 'DOSSaemmul';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,html {
  margin:0;
  padding: 0;
  font-family: "Pixelated MS Sans Serif", Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000000; */
  background-color: #f2f2f2;
  --vh: 100%;
  overflow: hidden; /*스크롤 방지 */
}

#root {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

@media (max-width: 375px) { /* iPhone SE width */
  body, html {
    font-size: 14.5px; 
  }
  #root {
    padding: 2px;
  }
}
@media (max-width: 360px) { /* 갤럭시 s8+,노트 width */
  body, html {
    font-size: 14px; 
  }
  #root {
    padding: 5px;
  }
}

@media (max-width: 320px) { /* z-flip width */
  body, html {
    font-size: 12px; 
  }
  #root {
    padding: 5px;
  }
}