body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  /* background-color: aqua; */
  width: 840px;
  height: 460px;
  position: relative;
  border-radius: 1rem;
  cursor:pointer;
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: transform 0.8s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cardBack {
  background-image: url('/public/images/BC_front.png');
  background-size: cover; 
  background-position: center; 
  transform: rotateY(180deg);
}

.cardBack.flipped {
  transform: rotateY(0deg);
}

.cardFront {
  background-image: url('/public/images/BC_front.png');
  background-size: cover; 
  background-position: center; 
  transform: rotateY(0deg);
}

.cardFront.flipped {
  transform: rotateY(180deg);
}

.info-container {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.info-item {
  position: absolute;
}

.date{
  top: 100px;
  right: 70px;
}
.name {
  top: 140px;
  right: 150px;
}
.school {
  top: 171px; 
  left:520px; 
}
.studentNum {
  top: 171px; 
  right: 150px; 
}
.major {
  top: 203px; 
  right:150px;
}
.email {
  top: 233px; 
  right: 150px;
}
.session {
  top: 263px; 
  right:150px;
}
.MBTI {
  top: 293px; 
  right: 150px;
}
.IG {
  top: 325px; 
  right: 150px; 
}
.moto {
  top: 356px; 
  right: 150px;
}

.QR{
  position: absolute;
  margin: 10rem 23rem;
}

.QR img{
  width: 10rem;
  height: 10rem;
}

