@font-face {
  font-family: 'DOSSaemmul';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.mobile{
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-family: DOSSaemmul;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Viewport의 전체 높이 */
  margin: 0; /* 기본 마진 제거 */
  background-color: #000000; /* 배경색 지정 */
}

#root {
  background-color: #f2f2f2;
  --vh: 100%;
}

